/* html {
  background-image: url(../img/qRfcndH1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

a {
  border-radius: 50%;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.gallery-link {
  position: absolute;
  left: 28%;
  top: 79%;

  color: white;
  background-color: red;
}

.form-link {
  position: absolute;
  left: 62%;
  top: 79%;

  color: white;
  background-color: blue;
}

.gallery-link:hover,
.form-link:hover {
  scale: 1.15;
  animation: 1.2s ease-in-out 0s normal none infinite running
    trambling-animation;
}

@keyframes trambling-animation {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-20deg);
  }
  20%,
  40% {
    transform: rotate(20deg);
  }
} */
